{% extends "base.html" %}




{% block content %}
    <form action="." class="well" method="POST" accept-charset="utf-8">
        <div class="control-group {% if errors.content %}error{% endif %}">
            <textarea name="content" class="span12" placeholder="Treść fortunki">{{ form_data.content }}</textarea>
            <span class="help-inline">{{ errors.content }}</span>
        </div>
        <p class="help-block">
            Przykładowy format fortunki
            <pre><code>&lt;nick&gt; wypowiedź
* nick wypowiedź
-!- nick [foo@***] has left #archlinux-pl ["wiadomość"] 
-!- nick [foo@***] has quit #archlinux-pl ["wiadomość"]
-!- nick [foo@***] has joined #archlinux-pl
-!- nick was kicked from #archlinux.pl by nick wiadomość</code></pre>
        </p>
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>

{% endblock %}



