<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/custom.css" type="text/css">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <a class="brand" href="/">
                                &nbsp;<div id="archlogo"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
