{% extends "base.html" %}


{% block content %}
    <div class="row">
        <div class="span12">
            {% for entry in entries %}
                <div class="entry" id="entry-{{ entry.id }}">
                    <div class="header">
                        <a href="#entry-{{ entry.id }}">
                            <i class="icon-globe icon-white"></i>
                        </a>
                        <span class="separator">&bull;</span>
                        {{ entry.created|strftime("%d.%m.%Y, %H:%M") }}
                        <span class="separator">&bull;</span>
                        {% if entry.votes_count == 0 %}
                            brak głosów
                        {% elif entry.votes_count == 1 %}
                            {{ entry.votes_count }} głos
                        {% elif 1 < entry.votes_count < 5 %}
                            {{ entry.votes_count }} głosy
                        {% else %}
                            {{ entry.votes_count }} głosów
                        {% endif %}
                        <span class="separator">&bull;</span>
                        <a href="/vote/{{ entry.id }}/toggle/">
                            <i class="icon-thumbs-up icon-white"></i>
                        </a>
                    </div>
                    <div class="content">
                        {{ entry.content|irc_log_colorize|safe }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
