{% extends "base.html" %}


{% block content %}
    <div class="row">
        <div class="span3">
            <ul class="nav nav-list well">
                <div style="margin:0 0 20px 0">
                    <a href="/add/" class="btn btn-success">
                        Dodaj fortunkę
                    </a>
                </div>
                <li class="nav-header">
                    Wyszukaj
                </li>
                <li>
                    <form class="form form-search">
                        <div class="input-append">
                            <input type="search" class="search-query span2"><button class="btn" type="button"><i class="icon-search"></i></button>
                        </div>
                    </form>
                </li>
                <li class="nav-header">
                    Sortuj według
                </li>
                <li {% if request.path == "/" %}class="active"{% endif %}>
                    <a href="/">
                        <i class="icon-thumbs-up"></i>
                        najpierw najpopularniejsze
                    </a>
                </li>
                <li {% if request.path == "/order/votes_count/" %}class="active"{% endif %}>
                    <a href="/order/votes_count/">
                        <i class="icon-thumbs-down"></i>
                        najpierw najmniej popularne
                    </a>
                </li>
                <li {% if request.path == "/order/-created/" %}class="active"{% endif %}>
                    <a href="/order/-created/">
                        <i class="icon-time"></i>
                        najpierw najnowsze
                    </a>
                </li>
                <li {% if request.path == "/order/created/" %}class="active"{% endif %}>
                    <a href="/order/created/">
                        <i class="icon-time"></i>
                        najpierw najstarsze
                    </a>
                </li>
                <hr>
                <li class="nav-header">
                    Eksportuj wynik
                </li>
                <li>
                    <a href="./json/{% if request.args.get("page") %}?page={{ request.args['page'] }}{% endif %}">
                        <i class="icon-download-alt"></i>
                        Pobież jako JSON
                    </a>
                </li>
            </ul>
        </div>
        <div class="span8">
            {% for entry in entries_page.objects_list %}
                <div class="entry" id="entry-{{ entry.id }}">
                    <div class="header">
                        <a href="/details/{{ entry.id }}/">
                            <i class="icon-globe icon-white"></i>
                        </a>
                        <span class="separator">&bull;</span>
                        {{ entry.created|strftime("%d.%m.%Y, %H:%M") }}
                        <span class="separator">&bull;</span>
                        {% if entry.votes_count == 0 %}
                            brak głosów
                        {% elif entry.votes_count == 1 %}
                            {{ entry.votes_count }} głos
                        {% elif 1 < entry.votes_count < 5 %}
                            {{ entry.votes_count }} głosy
                        {% else %}
                            {{ entry.votes_count }} głosów
                        {% endif %}
                        <span class="separator">&bull;</span>
                        <a href="/vote/{{ entry.id }}/toggle/">
                            <i class="icon-thumbs-up icon-white"></i>
                        </a>
                    </div>
                    <div class="content">
                        {{ entry.content|irc_log_colorize|safe }}
                    </div>
                </div>
            {% else %}
                <div class="alert alert-info">
                    Brak wyników do wyświetlenia.
                </div>
            {% endfor %}

            {% if entries_page.has_previous() or entries_page.has_next() %}
                <div class="row">
                    <div class="span8 center paginated">
                        {% if entries_page.has_previous() %}
                            <a href="?page={{ entries_page.previous_page_number() }}">
                                <i class="icon-arrow-left"></i>
                                poprzednia
                            </a>
                        {% else %}
                            <span class="inactive">
                                <i class="icon-arrow-left"></i>
                                poprzednia
                            </span>
                        {% endif %}
                        <span class="page-info">
                            [<span class="big">{{ entries_page.number }}</span>/<span class="small">{{ entries_page.paginator.page_count() }}</span>]
                        </span>
                        {% if entries_page.has_next() %}
                            <a href="?page={{ entries_page.next_page_number() }}">
                                nastepna
                                <i class="icon-arrow-right"></i>
                            </a>
                        {% else %}
                            <span class="inactive">
                                nastepna
                                <i class="icon-arrow-right"></i>
                            </span>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
